<div id="idea-index" class="margin-top-80">
  <div class="">
    Title: <input class="" type="text" id="idea-title">
    Body: <input class="" type="text" id="idea-body">
  </div>
  <input class="" id="create-idea" type="button" name="submit" value="Create Idea">

  <h1>Your Ideas</h1>
  <div id="idea-info" class="clearfix">
    <!-- <% @ideas.each do |idea| %>
      <h3><%= idea.title %></h3>
      <p><strong>Summary: </strong><%= idea.body %></p>
      <p><strong>Quality: </strong><%= idea.cap_quality %></p>
      <%= button_to "Edit", api_v1_idea_path(idea), method: 'put' %>
      <%= button_to "Delete", api_v1_idea_path(idea), method: 'delete' %>
    <% end %> -->
  </div>

</div>
